.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 16px;
}
.card {
  width: 500px;
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
}
